{% extends "layout.html" %}
{% block content %}
<header>
    <nav id = "after-signup-login">
        <div class="logo"><i class="fa-brands fa-google-scholar"></i>Learning With AI</div>
        <div class="nav-bar">
            <a href="#">Home</a>
            <a href="#">Courses</a>
            <a href="#">Contact us</a>
            <a href="#">Help</a>
            <div class="line2"></div>
            <button class="logout"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </nav>
</header>
<main>
    <div class="overlay"></div>
    <div class="container-1">
        <div class="home-pg-text">
        <h1 >There's always a better way to learn new things</h1>
        <h3>Learn with AI in new way</h3>
        </div>
        <div class="some"></div>
    </div>
    <div class="container-2"></div>
</main>


{% endblock %}